@using WebWorker.ViewModels.Month;
@model MonthListViewModel

@{
    ViewBag.Title = "勤怠一覧(個人-月次)";
}

<div class="contents">
    <table>
        <tr>
            <td>
                <label>日付</label>
            </td>
            <td>
                <select name="yyyy">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017" selected>2017</option>
                </select>
            </td>
            <td>年</td>
            <td>
                <select name="MM">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03" selected>03</option>
                </select>
            </td>
            <td>月</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <label>名前</label>
            </td>
            <td>
                <select name="name">
                    <option value="青山大地">青山大地</option>
                    <option value="岩崎かおり">岩崎かおり</option>
                </select>
            </td>
        </tr>
    </table>

    <button class="btn btn-info" type="button" onclick="indexView()">検索する</button>


    <table class="table01">
        <tr>
            <th>日付</th>
            <th>出勤時間</th>
            <th>休憩開始時間</th>
            <th>休憩終了時間</th>
            <th>退勤時間</th>
            <th>実勤務時間</th>
            <th>ヘルプ先</th>
        </tr>
        @{
            for (var i = 0; i < 31; i++)
            {
                <tr>
                    <td>@Model.WorkDay</td>
                    <td>@Model.StartTime</td>
                    <td>@Model.BreakStartTime</td>
                    <td>@Model.BreakEndTime</td>
                    <td>@Model.EndTime</td>
                    <td>@Model.WorkTime</td>
                    <td>@Model.Help</td>
                </tr>
            }
        }

        @*
        @{
            var list = new List<String>();
            list.Add("いち");
            list.Add("に");
            list.Add("さん");
            foreach (var item in list)
            {
                <tr>
                    <td>@Html.Raw(item)</td>
                    <td>06:00</td>
                    <td>10:00</td>
                    <td>11:00</td>
                    <td>14:00</td>
                    <td>07:00</td>
                    <td>橋本</td>
                </tr>
            }
        }
        *@

    </table>

    <button class="btn btn-primary" type="button" onclick="editView()">編集する</button>
</div>

<script>
    @* 一覧画面に遷移 *@
    function indexView()
    {
        link('@Url.Action("Index", "Month")');
    }
	@* 編集画面に遷移 *@
    function editView()
	{
		link('@Url.Action("Edit", "Month")');
	}
</script>
