@*
@using WebWorker.ViewModels.Worker
@model WorkerListViewModel
*@

@{
    ViewBag.Title = "アルバイト情報詳細";
}

<div class="contents">
    <table class="table_User">
        @using (var db = new WebWorkSystemEntities())
        {
            var fist = db.Users.FirstOrDefault();
            <tr>
                <th>ユーザId</th>
                <td>@fist.user_id</td>
            </tr>
            <tr>
                <th>姓</th>
                <td>@fist.familyname</td>
            </tr>
            <tr>
                <th>名</th>
                <td>@fist.firstname</td>
            </tr>
            <tr>
                <th>セイ</th>
                <td>@fist.familyname_kana</td>
            </tr>
            <tr>
                <th>メイ</th>
                <td>@fist.firstname_kana</td>
            </tr>
            <tr>
                <th>性別</th>
                <td>@fist.sex_type</td>
            </tr>
            <tr>
                <th>生年月日</th>
                <td>@fist.birthday</td>
            </tr>
            <tr>
                <th>入社日</th>
                <td>@fist.joined_date</td>
            </tr>
            <tr>
                <th>退社日</th>
                <td>@fist.leaved_date</td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>@fist.password</td>
            </tr>
        }
    </table>

    <div>
        <p>店舗</p>
        <table class="table_User">
            <tr>
                <th>店舗</th>
                <th>期間From</th>
                <th>期間To</th>
            </tr>
            <tr>
                @*
                <td>@Model.store</td>
                <td>@Model.store_from</td>
                <td>@Model.store_to</td>
                *@
            </tr>
        </table>
    </div>

    <button type="button" class="btn btn-default" onclick="indexView()">戻る</button>
    <button type="button" class="btn btn-primary" onclick="editView()">編集する</button>

</div>

<script>
@* 一覧画面に遷移 *@
    function indexView() {
        link('@Url.Action("Index", "Worker")');
    }
@* 編集画面に遷移 *@
    function editView() {
        link('@Url.Action("Edit", "Worker")');
    }
</script>
