@*
@using WebWorker.ViewModels.Worker
@model WorkerListViewModel
*@

@{
    ViewBag.Title = "アルバイト情報編集";
}

<div class="contents">
    <form>
        <table class="table_User">
            @using (var db = new WebWorkSystemEntities())
            {
                var fist = db.Users.FirstOrDefault();
                <tr>
                    <th>ユーザID</th>
                    <td><input type="text" class="item" name="user_id" value="@fist.user_id"></td>
                </tr>
                <tr>
                    <th>姓</th>
                    <td><input type="text" class="item" name="familyname" value="@fist.familyname"></td>
                </tr>
                <tr>
                    <th>名</th>
                    <td><input type="text" class="item" name="firstname" value="@fist.firstname"></td>
                </tr>
                <tr>
                    <th>セイ</th>
                    <td><input type="text" class="item" name="familyname_kana" value="@fist.familyname_kana"></td>
                </tr>
                <tr>
                    <th>メイ</th>
                    <td><input type="text" class="item" name="firstname_kana" value="@fist.firstname_kana"></td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>
                        <select name="sex_type">
                            <option value="1" selected>@fist.sex_type</option>
                            <option value="2">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td><input type="text" class="item" name="birthday" value="@fist.birthday"></td>
                </tr>
                <tr>
                    <th>入社日</th>
                    <td><input type="text" class="item" name="joined_date" value="@fist.joined_date"></td>
                </tr>
                <tr>
                    <th>退社日</th>
                    <td><input type="text" class="item"  name="leaved_date" value="@fist.leaved_date"></td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td><input type="text" class="item" name="password" value="@fist.password"></td>
                </tr>
            }
        </table>

        <div>
            <p>店舗</p>
            <table class="table_User">
                <tr>
                    <th>店舗</th>
                    <th>期間From</th>
                    <th>期間To</th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button" class="btn btn-danger" onclick="detailView()">削除</button></td>
                    @*
                    <td>
                        <select name="store">
                            <option selected>@Model.store</option>
                            <option></option>
                        </select>
                    </td>
                    <td><input type="text" class="item" name="store_from" value="@Model.store_from"></td>
                    <td><input type="text" class="item" name="store_to" value="@Model.store_to"></td>
                    *@
                </tr>
            </table>
        </div>
 
        <button type="button" class="btn btn-default" onclick="detailView()">戻る</button>
        <button type="button" class="btn btn-primary" onclick="indexView()">変更する</button>
        <button type="button" class="btn btn-danger" onclick="indexView()">削除する</button>
    </form>

</div>

<script>
    @* 一覧画面に遷移 *@
    function indexView() {
        link('@Url.Action("Index", "Worker")');
    }
	@* 詳細画面に遷移 *@
    function detailView()
	{
		link('@Url.Action("Detail", "Worker")');
	}
</script>



