@*
@using WebWorker.ViewModels.Worker
@model WorkerListViewModel
*@

@{
    ViewBag.Title = "アルバイト情報一覧";
}

<div class="contents">
    <button type="button" class="btn btn-info" onclick="registerView()">新規登録</button>


    <table class="table01">
        <tr>
            <th>ユーザId</th>
            <th>名前(姓)</th>
            <th>名前(名)</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>入社日</th>
            <th>退社日</th>
            <th></th>
        </tr>
        @{
            for (var i = 0; i < 5; i++)
            {
                <tr>
                    @using (var db = new WebWorkSystemEntities())
                {
                    var fist = db.Users.FirstOrDefault();
                        <td>@fist.user_id</td>
                        <td>@fist.familyname</td>
                        <td>@fist.firstname</td>
                        <td>@fist.sex_type</td>
                        <td>@fist.birthday</td>
                        <td>@fist.joined_date</td>
                        <td>@fist.leaved_date</td>
                        <td><button type="button" class="btn btn-primary" onclick="detailView()">詳細</button></td>
                    }
                </tr>
            }
        }
    </table>

</div>

<script>
@* 新規登録画面に遷移 *@
    function registerView() {
        link('@Url.Action("Register", "Worker")');
    }
@* 詳細画面に遷移 *@
    function detailView() {
        link('@Url.Action("Detail", "Worker")');
    }
</script>
