@{
    ViewBag.Title = "アルバイト情報一覧";
}

<div class="contents">
    <button type="button" class="btn btn-info" onclick="registerView()">新規登録</button>


    <table class="table01">
        <tr>
            <th>ユーザID</th>
            <th>名前(姓)</th>
            <th>名前(名)</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>入社日</th>
            <th>退社日</th>
            <th></th>
        </tr>
        @using (var db = new WebWorkSystemEntities())
        {
            var resultlist = db.Users.ToList();

            foreach (var result in resultlist)
            {
                <tr>
                    <td>@result.user_id</td>
                    <td>@result.familyname</td>
                    <td>@result.firstname</td>
                    <td>@result.sex_type</td>
                    <td>@result.birthday</td>
                    <td>@result.joined_date</td>
                    <td>@result.leaved_date</td>
                    @*<td><button type="button" class="btn btn-primary" onclick="detailView()">詳細</button></td>
                    <td><button type="button" class="btn btn-primary" onclick="link('@Url.Action("Detail", "Worker")');">詳細</button></td>*@
                    <td><button type="button" class="btn btn-primary" onclick="link('@Url.Action("Detail", result)');">詳細</button></td>
                </tr>
            }
        }
    </table>

</div>

<script>
@* 新規登録画面に遷移 *@
    function registerView() {
        link('@Url.Action("Register", "Worker")');
    }
</script>
