<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 勤怠管理システムFSP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        勤怠管理システムFSP
        <br>
        <script>
            //時刻データを取得して変数jikanに格納する
            var jikan= new Date();

            //時・分・秒を取得する
            var hour = jikan.getHours();
            var minute = jikan.getMinutes();
            var second = jikan.getSeconds();

            document.write(hour+"時",+minute+"分"+second+"秒");
        </script>
    </div>

    <div class="sidemenu">
        <div class="view-name">MENU</div>       
        
        <div class="MenuCell" onclick="link('@Url.Action("Index", "Day")');">
            <p>勤怠一覧(個人-日次)</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "Month")');">
            <p>勤怠一覧(個人-月次)</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "TotalDay")');">
            <p>勤怠一覧(全体-日次)</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "TotalMonth")');">
            <p>勤怠一覧(全体-月次)</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Login", "Account")');">
            <p>ログイン</p>
        </div>
    </div>

    <div class="contents">
        <div class="view-name">@ViewBag.Title</div>
    </div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function link(url) {
        location.href = url;
    }
</script>
