<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 勤怠管理システムFSP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body onload="getTime()">
    <div class="header">
        <div>勤怠管理システムFSP</div>
        @*
        <script>
            var t = setInterval("DspClk()", 500);
        </script>
        <form name="ClkForm">
            <input type="text" name="time">
        </form>
        *@
        <div id="labelTime"></div>
    </div>

    <div class="sidemenu">
        <div class="view-name">MENU</div>

        <div class="MenuCell" onclick="link('@Url.Action("Index", "Day")');">
            <p>勤怠一覧(個人-日次)</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "Help")');">
            <p>ヘルプ集計</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "Worker")');">
            <p>アルバイト情報一覧</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Index", "Admin")');">
            <p>管理者情報一覧</p>
        </div>
        <div class="MenuCell" onclick="link('@Url.Action("Login", "Account")');">
            <p>ログアウト</p>
        </div>

    </div>

    <div class="contents">
        <div class="view-name">@ViewBag.Title</div>
    </div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function getTime() {
        var t = 0;
        t = setInterval("calcTime()", 500);
    }
    function calcTime() {
        var DD = new Date();
        var Hours = DD.getHours();
        var Minutes = DD.getMinutes();
        var Seconds = DD.getSeconds();
        var time = Hours + "時" + Minutes + "分" + Seconds +"秒";
        var labelTime_Obj = document.getElementById("labelTime");
        labelTime_Obj.innerHTML = time;
    }
</script>

@*
<script>
    function DspClk() {
      var DD = new Date();
      var Hours = DD.getHours();
      var Minutes = DD.getMinutes();
      var Seconds = DD.getSeconds();
      document.ClkForm.time.value = Hours + "時" + Minutes + "分" + Seconds +"秒";
    }
</script>
*@

<script>
    function link(url) {
        location.href = url;
    }
</script>
