@using WebWorker.ViewModels.Day;
@model DayListViewModel


@{
    ViewBag.Title = "勤怠編集(個人-日次)";
}

<div class="contents">
    <form>
        <table>
            <tr>
                <td>
                    <label>日付：</label>
                </td>
                <td>
                    <select name="year">
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017" selected>2017</option>
                    </select>年
                </td>
                <td>
                    <select name="month">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3" selected>03</option>
                    </select>月
                </td>
                <td>
                    <select name="day">
                        <option value="1" selected>01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                    </select>日
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <label>名前：</label>
                </td>
                <td>
                    <select name="name">
                        <option value="青山大地">青山大地</option>
                        <option value="岩崎かおり">岩崎かおり</option>
                    </select>
                </td>
            </tr>
        </table>

        @*<button type="submit">検索する</button>*@
        <button  type="button" class="btn btn-info"onclick="indexView()">検索する</button>
    </form>

    <form>
        <table class="table01">
            <tr>
                <th>出勤時間</th>
                <th>休憩開始時間</th>
                <th>休憩終了時間</th>
                <th>退勤時間</th>
                <th>実勤務時間</th>
                <th>ヘルプ先</th>
            </tr>
            <tr>
                <td><input type="time" class="item" name="start_time" value="@Model.StartTime"></td>
                <td><input type="time" class="item" name="break_start_time" value="@Model.BreakStartTime"></td>
                <td><input type="time" class="item" name="break_end_time" value="@Model.BreakEndTime"></td>
                <td><input type="time" class="item" name="end_time" value="@Model.EndTime"></td>
                <td>@Model.WorkTime</td>
                <td>
                    <select name="help">
                        <option selected>@Model.Help</option>
                        <option></option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="button" class="btn btn-default" onclick="indexView()">戻る</button>
        <button type="button" class="btn btn-primary" onclick="indexView()">登録する</button>
        <button type="button" class="btn btn-danger" onclick="indexView()">削除する</button>
    </form>

</div>

<script>
	@* 一覧画面に遷移 *@
    function indexView()
	{
		link('@Url.Action("Index", "Day")');
	}
</script>



