@using WebWorker.ViewModels.Admin
@model AdminListViewModel

@{
    ViewBag.Title = "管理者情報編集";
}

<div class="contents">
    <table class="table_User">
        <tr>
            <th>AdminユーザId</th>
            <td>@Model.admin_user_id</td>
        </tr>
        <tr>
            <th>姓</th>
            <td><input type="text" class="item" value="@Model.familyname"></td>
        </tr>
        <tr>
            <th>名</th>
            <td><input type="text" class="item" value="@Model.firstname"></td>
        </tr>
        <tr>
            <th>セイ</th>
            <td><input type="text" class="item" value="@Model.familyname_kana"></td>
        </tr>
        <tr>
            <th>メイ</th>
            <td><input type="text" class="item" value="@Model.firstname_kana"></td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                <select name="sex">
                    <option selected>@Model.sex_type</option>
                    <option>2</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td><input type="text" class="item" value="@Model.birthday"></td>
        </tr>
        <tr>
            <th>入社日</th>
            <td><input type="text" class="item" value="@Model.joined_date"></td>
        </tr>
        <tr>
            <th>退社日</th>
            <td><input type="text" class="item" value="@Model.leaved_date"></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><input type="text" class="item" value="@Model.password"></td>
        </tr>
    </table>

    <div>
        <p>店舗</p>
        <table class="table_User">
            <tr>
                <th>店舗</th>
                <th>期間From</th>
                <th>期間To</th>
            </tr>
            <tr>
                <td>
                    <select name="store">
                        <option selected>@Model.store</option>
                        <option></option>
                    </select>
                </td>
                <td><input type="text" class="item" value="@Model.store_from"></td>
                <td><input type="text" class="item" value="@Model.store_to"></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-default" type="button" onclick="detailView()">戻る</button>
    <button class="btn btn-default" type="button" onclick="indexView()">変更する</button>
    <button class="btn btn-default" type="button" onclick="indexView()">削除する</button>

</div>

<script>
	@* 一覧画面に遷移 *@
    function indexView()
	{
		link('@Url.Action("Index", "Admin")');
    }
    @* 詳細画面に遷移 *@
    function detailView()
    {
        link('@Url.Action("Detail", "Admin")');
    }
</script>



