@using WebWorker.ViewModels.Admin
@model AdminListViewModel

@{
    ViewBag.Title = "管理者情報編集";
}

<div class="contents">
    <table class="table_User">
        <tr>
            <th>Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>名前</th>
            <td><input type="text" class="item" value="@Model.Name"></td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                <select name="sex">
                    <option selected>@Model.Sex</option>
                    <option>女</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td><input type="text" class="item" value="@Model.BirthDay"></td>
        </tr>
        <tr>
            <th>入社日</th>
            <td><input type="text" class="item" value="@Model.StartTime"></td>
        </tr>
        <tr>
            <th>退社日</th>
            <td><input type="text" class="item" value="@Model.EndTime"></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><input type="text" class="item" value="@Model.Password"></td>
        </tr>
    </table>

    <div>
        <p>店舗</p>
        <table class="table_User">
            <tr>
                <th>店舗</th>
                <th>期間From</th>
                <th>期間To</th>
            </tr>
            <tr>
                <td>
                    <select name="store">
                        <option selected>@Model.Store</option>
                        <option></option>
                    </select>
                </td>
                <td><input type="text" class="item" value="@Model.StoreFrom"></td>
                <td><input type="text" class="item" value="@Model.StoreTo"></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-default" type="button" onclick="indexView()">戻る</button>
    <button class="btn btn-default" type="button" onclick="indexView()">変更する</button>
    <button class="btn btn-default" type="button" onclick="indexView()">削除する</button>

</div>

<script>
	@* 一覧画面に遷移 *@
    function indexView()
	{
		link('@Url.Action("Index", "Admin")');
	}
</script>



