@using WebWorker.ViewModels.Admin;
@model AdminListViewModel

@{
    ViewBag.Title = "管理者情報一覧";
}

<div class="contents">
    <button type="button" class="btn btn-info" onclick="registerView()">新規登録</button>


    <table class="table01">
        <tr>
            <th>AdminユーザId</th>
            <th>名前(姓)</th>
            <th>名前(名)</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>入社日</th>
            <th>退社日</th>
            <th></th>
        </tr>
        @{
            for (var i = 0; i < 5; i++)
            {
                <tr>
                    <td>@Model.admin_user_id</td>
                    <td>@Model.familyname</td>
                    <td>@Model.firstname</td>
                    <td>@Model.sex_type</td>
                    <td>@Model.birthday</td>
                    <td>@Model.joined_date</td>
                    <td>@Model.leaved_date</td>
                    <td><button type="button" class="btn btn-primary" onclick="detailView()">詳細</button></td>
                </tr>
            }
        }   
    </table>

</div>

<script>
@* 一覧画面に遷移 *@
    function registerView() {
        link('@Url.Action("Register", "Admin")');
    }
@* 詳細画面に遷移 *@
    function detailView() {
        link('@Url.Action("Detail", "Admin")');
    }
</script>
