@using WebWorker.ViewModels.TotalDay;
@model TotalDayListViewModel

@{
    ViewBag.Title = "勤怠編集(全体-日次)";
}

<div class="contents">
    <table>
        <tr>
            <td>
                <label>日付</label>
            </td>
            <td>
                <select name="yyyy">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017" selected>2017</option>
                </select>
            </td>
            <td>年</td>
            <td>
                <select name="MM">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03" selected>03</option>
                </select>
            </td>
            <td>月</td>
            <td>
                <select name="dd">
                    <option value="01" selected>01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                </select>
            </td>
            <td>日</td>
        </tr>
    </table>

    <button class="btn btn-info" type="button" onclick="indexView()">検索する</button>


    <table class="table01">
        <tr>
            <th>名前</th>
            <th>出勤時間</th>
            <th>休憩開始時間</th>
            <th>休憩終了時間</th>
            <th>退勤時間</th>
            <th>実勤務時間</th>
            <th>ヘルプ先</th>
        </tr>
        @{
            for (var i = 0; i < 10; i++)
            {
                <tr>
                    <td>@Model.Name</td>
                    <td><input type="text" class="item" value="@Model.StartTime"></td>
                    <td><input type="text" class="item" value="@Model.BreakStartTime"></td>
                    <td><input type="text" class="item" value="@Model.BreakEndTime"></td>
                    <td><input type="text" class="item" value="@Model.EndTime"></td>
                    <td>@Model.WorkTime</td>
                    <td>
                        <select name="help">
                            <option selected>@Model.Help</option>
                            <option></option>
                        </select>
                    </td>
                </tr>
            }
        }
    </table>

    <table class="table_TotalWorkTime">
        <tr>
            <th>総実勤務時間</th>
            <td>@Model.WorkTime</td>
        </tr>
    </table>

    <button class="btn btn-default" type="button" onclick="indexView()">戻る</button>
    <button class="btn btn-default" type="button" onclick="indexView()">変更する</button>

</div>

<script>
	@* 一覧画面に遷移 *@
    function indexView()
	{
		link('@Url.Action("Index", "TotalDay")');
	}
</script>



