@using WebWorker.ViewModels.Help;
@model HelpListViewModel

@{
    ViewBag.Title = "ヘルプ集計";
}

<div class="contents">
    <form>
        <table>
            <tr>
                <td>
                    <label>日付：</label>
                </td>
                <td>
                    <select name="yyyy">
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017" selected>2017</option>
                    </select>年
                </td>
                <td>
                    <select name="MM">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3" selected>03</option>
                    </select>月
                </td>
            </tr>
        </table>

        @*<button type="submit">検索する</button>*@
        <button type="button" class="btn btn-info" onclick="indexView()">検索する</button>
    </form>

    <table class="table01">
        <tr>
            <th>日付</th>
            <th>名前</th>
            <th>出勤時間</th>
            <th>休憩開始時間</th>
            <th>休憩終了時間</th>
            <th>退勤時間</th>
            <th>実勤務時間</th>
            <th>ヘルプ先</th>
        </tr>
        @{
            for (var i = 0; i < 10; i++)
            {
                <tr>
                    <td>@Model.WorkDay</td>
                    <td>@Model.Name</td>
                    <td>@Model.StartTime</td>
                    <td>@Model.BreakStartTime</td>
                    <td>@Model.BreakEndTime</td>
                    <td>@Model.EndTime</td>
                    <td>@Model.WorkTime</td>
                    <td>@Model.Help</td>
                </tr>
            }
        }
    </table>

</div>

<script>
@* 一覧画面に遷移 *@
    function indexView() {
        link('@Url.Action("Index", "Help")');
    }
@* 編集画面に遷移 *@
    function editView() {
        link('@Url.Action("Edit", "Help")');
    }
</script>
